{% extends "base.html" %}
{% block content %}
<h1>Terms of Service</h1>
<p>Last Updated: may 17, 2025</p>
<p>This software is protected under the Solace License v1.0.</p>
<ul>
    <li>You may not rebrand or redistribute this software without written permission.</li>
    <li>You may not sell, lease, rent, sublicense, or otherwise monetize the Software or any derivative works.</li>
    <li>You may not remove or alter any copyright, trademark, or license notices.</li>
</ul>
<p>Violations will be treated as copyright violation, trademark abuse, and unauthorized use of intellectual property. Legal action will be taken.</p>
{% endblock %}
